<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FindSerie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <FindSerie.Properties.Settings>
            <setting name="cpy_default_src" serializeAs="String">
                <value />
            </setting>
            <setting name="cpy_default_dst" serializeAs="String">
                <value />
            </setting>
            <setting name="cpy_default_bool_src" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpy_default_bool_dst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpy_bool_create_tree" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpy_bool_rename_file" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rnm_rep_blacklist" serializeAs="String">
                <value>.\Rename\blacklist.txt</value>
            </setting>
            <setting name="rnm_default_src" serializeAs="String">
                <value />
            </setting>
            <setting name="rnm_default_bool_src" serializeAs="String">
                <value>False</value>
            </setting>
        </FindSerie.Properties.Settings>
    </userSettings>
</configuration>
